@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css");

nav {
  margin: 0 auto;
  padding-left: 5px;
}
nav a {
  color: #212121;
  text-align: center;
  text-decoration: none;
  letter-spacing: .7rem;
  font-weight: .5rem;
}


nav {
  width: 500px;
  height: 40px;
  padding-bottom: 0px;
  position: static;
}

nav a {
  display: block;
  border-bottom: 5px ;
  width: 500px;
  line-height: 34px;
  font-size: 1rem;
  font-family: 'cardo', sans-serif;
  font-style: thin;
}
nav a:hover {
  background-color: #d3d3d3;
}
nav ul {
  padding: 15px;
  margin: 0;
  list-style-type: none;
}
nav ul > li {
  float: left;
  width: 500px;
  position: relative;
  background-color: #FDFDFD;
  margin-top: 5px;
}
nav ul > li ul {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 0;
}
nav ul > li:hover ul {
  visibility: visible;
  margin-bottom: 40px;
  moz-box-shadow: 5px 5px 0px rgba( 20, 20, 20, .1);
  webkit-box-shadow: 5px 5px 0px rgba( 20, 20, 20, .1);
  box-shadow: 5px 10px 5px rgba( 20, 20, 20, .1);
}
